@font-face {
	font-family: "Cera Pro";
	src: local("Cera Pro Medium"),
		url("/font/CeraPro-BlackItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Cera Pro";
	src: local("Cera Pro Bold"), url("/font/CeraPro-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body {
	width: 100%;
	height: 100vh;
	background-color: #f1f1f1;
}
html {
	font-size: 62.5%;
	font-family: "Cera Pro";
}
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 2.2rem 3rem;
	box-shadow: 0px 0px 47px 0px rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.Logo {
	margin-right: 392px;
}

a {
	color: #003da6;
}
a:hover {
	color: #1c652f;
}
.menu {
	font-size: 2rem;
	white-space: nowrap;
}
.menu li {
	position: relative;
	gap: 1rem;
}
.menu__list > li:nth-child(-n + 2):after {
	position: absolute;
	content: "";
	top: 50%;
	right: -20px;
	display: inline-block;
	border: 2px solid #003da6;
	padding: 2px;
	border-width: 0 2px 2px 0;
	transform: translateY(-50%) rotate(45deg);
	transition: all 0.3s ease;
}
.menu__list > li:hover:after {
	transform: rotate(225deg);
}
.menu__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 145px;
}
.menu__list > li:hover .sub-menu__list {
	display: block;
}

.menu__link {
}
.sub-menu__list {
	display: none;
	position: absolute;
	left: -50%;
	transform: translateX(6%);
	top: 20px;
	min-width: 220px;
	padding-top: 70px;
	filter: drop-shadow(0px 0px 47px rgba(0, 0, 0, 0.08));
}
.sub-menu__list.sub-menu__list_2 {
	left: -39%;
	transform: translateX(6%);
}

.sub-menu__list li {
	position: relative;
	background-color: #f1f1f1;
}
.sub-menu__list li:first-child:before {
	content: "";
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	height: 0;
	width: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #f1f1f1;
}
.sub-menu__list li:first-child {
	padding-top: 32px;
}
.sub-menu__list li:last-child {
	padding-bottom: 36px;
}

.sub-menu__link {
	display: inline-block;
	padding: 8px 42px;
	text-decoration: underline transparent;
	text-underline-offset: 5px;
	transition: text-decoration 0.3s linear;
}
.sub-menu__link:hover {
	text-decoration: underline solid;
}

.header-search {
	width: 32px;
	height: 32px;
}
.header-search img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
form {
	position: relative;
	width: 300px;
	margin-left: auto;
	height: 42px;
}
input {
	height: 42px;
	width: 0;
	padding: 0 42px 0 15px;
	border: none;
	border-bottom: 2px solid transparent;
	outline: none;
	background: transparent;
	transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
}
input:focus {
	width: 300px;
	z-index: 1;
	border-bottom: 2px solid #003da6;
}
button {
	border: none;
	height: 42px;
	width: 42px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
